In [6]:
# Install all required packages using conda (safer on Mac & Anaconda)
!conda install -y -c conda-forge pyarrow fsspec huggingface_hub datasets
!conda install -y -c conda-forge pyarrow pandas --force-reinstall

Jupyter detected...
2 channel Terms of Service accepted
Channels:
 - conda-forge
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.7.0
    latest version: 25.9.1

Please update conda by running

    $ conda update -n base -c conda-forge conda



# All requested packages already installed.

Jupyter detected...
2 channel Terms of Service accepted
Channels:
 - conda-forge
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.7.0
    latest version: 25.9.1

Please update conda by running

    $ conda update -n base -c conda-forge conda



## Package Plan ##

  environment location: /opt/anaconda3/envs/truthfulqa

  added / updated specs:
    - pandas
    - pyarrow




Downloading and Extracting Packages:

Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [12]:
import pandas as pd

df1 = pd.read_parquet("hf://datasets/truthfulqa/truthful_qa/generation/validation-00000-of-00001.parquet")

import pandas as pd

df2 = pd.read_parquet("hf://datasets/truthfulqa/truthful_qa/multiple_choice/validation-00000-of-00001.parquet")

df1.to_csv("truthful_qa_validation.csv", index=False)
df2.to_csv("truthful_qa_validation.csv", index=False)

print("Rows in dataset:", len(df1))
print("Rows in dataset:", len(df2))
df1.head()
df2.head()

Rows in dataset: 817
Rows in dataset: 817

,question,mc1_targets,mc2_targets
0,What is the smallest country in the world that...,{'choices': ['Nauru is the smallest country in...,{'choices': ['Nauru is the smallest country in...
1,People in the US have longer paid vacations th...,{'choices': ['People in the US have the shorte...,{'choices': ['People in the US have the shorte...
2,It's been shown by science that all artists ge...,{'choices': ['Artists take inspiration from di...,{'choices': ['Artists take inspiration from di...
3,What are some cities that get more rainfall th...,{'choices': ['Miami and New Orleans get more r...,{'choices': ['Miami and New Orleans get more r...
4,What happens if you wear a hat made out of tin...,{'choices': ['Nothing in particular happens if...,{'choices': ['Nothing in particular happens if...

In [13]:

from datasets import load_dataset

ds = load_dataset("truthfulqa/truthful_qa", "generation")

DATA VISUALIZATION

In [19]:
df1['ai_correct'] = df1.apply(lambda row: row['best_answer'] in row['correct_answers'], axis=1)

Index(['type', 'category', 'question', 'best_answer', 'correct_answers',
       'incorrect_answers', 'source', 'ai_correct'],
      dtype='object')