In [1]:
# Install all required packages using conda (safer on Mac & Anaconda)
!conda install -y -c conda-forge pyarrow fsspec huggingface_hub datasets

Jupyter detected...
2 channel Terms of Service accepted
Channels:
 - conda-forge
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
    current version: 25.7.0
    latest version: 25.9.1

Please update conda by running

    $ conda update -n base -c conda-forge conda



# All requested packages already installed.

In [6]:
import pandas as pd

df = pd.read_parquet("hf://datasets/truthfulqa/truthful_qa/generation/validation-00000-of-00001.parquet")

import pandas as pd

df = pd.read_parquet("hf://datasets/truthfulqa/truthful_qa/multiple_choice/validation-00000-of-00001.parquet")

df.to_csv("truthful_qa_validation.csv", index=False)

print("Rows in dataset:", len(df))
df.head()

Rows in dataset: 817

,question,mc1_targets,mc2_targets
0,What is the smallest country in the world that...,{'choices': ['Nauru is the smallest country in...,{'choices': ['Nauru is the smallest country in...
1,People in the US have longer paid vacations th...,{'choices': ['People in the US have the shorte...,{'choices': ['People in the US have the shorte...
2,It's been shown by science that all artists ge...,{'choices': ['Artists take inspiration from di...,{'choices': ['Artists take inspiration from di...
3,What are some cities that get more rainfall th...,{'choices': ['Miami and New Orleans get more r...,{'choices': ['Miami and New Orleans get more r...
4,What happens if you wear a hat made out of tin...,{'choices': ['Nothing in particular happens if...,{'choices': ['Nothing in particular happens if...

In [3]:

from datasets import load_dataset

ds = load_dataset("truthfulqa/truthful_qa", "generation")

README.md: 0.00B [00:00, ?B/s]

generation/validation-00000-of-00001.par(â€¦):   0%|          | 0.00/223k [00:00<?, ?B/s]

Generating validation split:   0%|          | 0/817 [00:00<?, ? examples/s]

In [7]:
print(ds)

DatasetDict({
    validation: Dataset({
        features: ['type', 'category', 'question', 'best_answer', 'correct_answers', 'incorrect_answers', 'source'],
        num_rows: 817
    })
})

Test Test